flows.json
[
    {
        "id": "55a52ccaabcffa27",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ae5c2426e040a64",
        "type": "tab",
        "label": "流程 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "676de77e32d8cf75",
        "type": "tab",
        "label": "流程 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d4efe2b350dab1f",
        "type": "tcp in",
        "z": "55a52ccaabcffa27",
        "name": "",
        "server": "server",
        "host": "",
        "port": "888",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "1fcdb6b306d1579c"
            ]
        ]
    },
    {
        "id": "1fcdb6b306d1579c",
        "type": "function",
        "z": "55a52ccaabcffa27",
        "name": "pong",
        "func": "msg.payload += 'B';\nnode.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "a84862988e732fe2"
            ]
        ]
    },
    {
        "id": "f88b5dad3b7fd950",
        "type": "function",
        "z": "55a52ccaabcffa27",
        "name": "ping",
        "func": "msg.payload += 'A';\nnode.log(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 340,
        "wires": [
            [
                "bb7a42b80c293b9a"
            ]
        ]
    },
    {
        "id": "a3e90740e0b19bef",
        "type": "inject",
        "z": "55a52ccaabcffa27",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "X",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "f88b5dad3b7fd950"
            ]
        ]
    },
    {
        "id": "a84862988e732fe2",
        "type": "switch",
        "z": "55a52ccaabcffa27",
        "name": "",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "15",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "a59fc2bf65dab5ce"
            ],
            [
                "19be5c7bfc6d7a64"
            ]
        ]
    },
    {
        "id": "bb7a42b80c293b9a",
        "type": "tcp request",
        "z": "55a52ccaabcffa27",
        "name": "",
        "server": "127.0.0.1",
        "port": "888",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 510,
        "y": 340,
        "wires": [
            [
                "f88b5dad3b7fd950"
            ]
        ]
    },
    {
        "id": "a59fc2bf65dab5ce",
        "type": "tcp out",
        "z": "55a52ccaabcffa27",
        "name": "",
        "host": "",
        "port": "",
        "beserver": "reply",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "19be5c7bfc6d7a64",
        "type": "debug",
        "z": "55a52ccaabcffa27",
        "name": "stop",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "1c334d06f411f5ca",
        "type": "comment",
        "z": "55a52ccaabcffa27",
        "name": "tcp-server",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ddbbb0a996b68a2",
        "type": "comment",
        "z": "55a52ccaabcffa27",
        "name": "tcp-client",
        "info": "",
        "x": 140,
        "y": 300,
        "wires": []
    }
]